$colorNav: #7D7D7D;
$colorBody: #b9b7b7;

.proyectosRealizados {
    background-color: $colorBody;
    h1 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 220%;
        text-align: center; }
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 170%; }
    }
    